import os
import uuid

APP_HOST = '0.0.0.0'
APP_PORT = 80
APP_WORKERS_NUM = {{ app_workers_num }}

BASE_DIR = os.path.dirname(__file__)

RDBS_DB_NAME = "{{rdbs_db_name}}"

OPENED_PATHS = (
    '/docs',
    '/openapi.json'
)

API_PATH_V1 = "/api/v1"

JWT_ALGORITHM = "HS256"
ISSUER = ''

SYSTEM_USER = uuid.UUID("00000000-00000000-00000000-00000001")
