APP_PORT=80
RELOAD=true
{% if need_rdbs %}
RDBS_HOST={{app_name}}_db
RDBS_PORT=5432
RDBS_VERSION={{rdbs_version}}
RDBS_USER={{rdbs_user}}
RDBS_PASSWORD={{rdbs_password}}
{% endif %}
{% if jwt_secret %}
ENCRYPTION_JWT_SECRET={{jwt_secret}}
{% endif %}