from sqlalchemy_schema_factory import factory

db_metadata = factory.metadata()

{% if need_acme %}
item = factory.actions_tracked_table(
    name='items',
    db_metadata=db_metadata,
    columns=(
        factory.uuid_primary_key(),
        factory.string(name="name", nullable=True),
        factory.integer(name="state_id", nullable=False, default=1),
        factory.uuid(name="external_id", nullable=False, unique=True)
    )
)
{% endif %}
{% if need_events %}
event = factory.actions_tracked_table(
    name="events",
    db_metadata=db_metadata,
    columns=(
        factory.uuid_primary_key(),
        factory.string(name="name", nullable=False),
        factory.jsonb(name="payload", nullable=True)
    )
)
{% endif %}