from sqlalchemy_schema_factory import factory
{% if need_acme %}import zodchy_patterns{% endif %}
{% if need_acme %}import specs{% endif %}

db_metadata = factory.metadata()

{% if need_acme %}
acme = factory.actions_tracked_table(
    name='acme',
    db_metadata=db_metadata,
    columns=(
        factory.uuid_primary_key(),
        factory.string(name="name", nullable=True),
        factory.integer(name="state_id", nullable=False, default=1),
        factory.uuid(name="external_id", nullable=False, unique=True)
    )
)

acme_state = zodchy_patterns.mapping.Reference({
    1: specs.types.AcmeState.new,
    2: specs.types.AcmeState.active,
    3: specs.types.AcmeState.deactivated
})
{% endif %}
{% if need_events %}
event = factory.actions_tracked_table(
    name="events",
    db_metadata=db_metadata,
    columns=(
        factory.uuid_primary_key(),
        factory.string(name="name", nullable=False),
        factory.jsonb(name="payload", nullable=True)
    )
)
{% endif %}