import pancho
{% if need_events or need_acme %}
from . import (
{% if need_events %}system{% endif %}{% if need_acme %},
    acme
{% endif %}
)
{% endif %}

def registry() -> pancho.ActorRegistry:
    _registry = pancho.ActorRegistry()
    {% if need_events %}_registry = pancho.register_module(_registry, system){% endif %}{% if need_acme %}
    _registry = pancho.register_module(_registry, acme)
    {% endif %}
    return _registry
