import typing
{% if need_acme %}import enum{% endif %}
import uuid
import zodchy

NoValue: typing.TypeAlias = zodchy.types.Empty
IdentifierType: typing.TypeAlias = uuid.UUID
UserId: typing.TypeAlias = IdentifierType


class RandomIdentifier(uuid.UUID):
    pass

{% if need_acme %}

class ItemState(str, enum.Enum):
    new = "new"
    active = "active"
    deactivated = "deactivated"

{% endif %}