import typing
import enum
import uuid
import zodchy

Empty = zodchy.types.Empty
IdentifierType = uuid.UUID
RandomIdentifierType = typing.NewType("RandomIdentifier", uuid.UUID)

{% if need_acme %}
class ItemState(str, enum.Enum):
    new = "new"
    active = "active"
    deactivated = "deactivated"
{% endif %}