{% if need_acme %}
from .acme import (
    CreateSomething,
    UpdateSomething,
    SomethingCreated,
    SomethingLinkedWithExternalService,
    LinkingSomethingFailed,
    SomeItemReceived,
    GetListOfSomething,
    GetSomething
)
{% endif %}